* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 100vh;
}

:root {
  --green: #009688;
  --gray: #d6dbd7;
}

#app {
  height: 100%;
  background-image: linear-gradient(var(--green) 20%, var(--gray) 20%);
}