* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 100vh;
}

:root {
  --green: #009688;
  --light-gray: #d6dbd7; /* sfondo  */
  --gray: #b1b1b1; /* testo*/
  --white: #e4e4e4; /* sfondo */
  --height-user: 60px;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: linear-gradient(var(--green) 20%, var(--light-gray) 20%);
}

.container{
  display: flex;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  height: 95%;
}

/* ------------------ASIDE------------------- */

aside{
  height: 100%;
  width: 35%;
}

/* ------------------UTILIZER------------------- */

aside .utilizer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--height-user);
  background-color: var(--white);
  padding: 0 10px;
  /* debug */
  border: 1px solid black;
}

aside .utilizer .avatar{
  width: 40px;
  display: flex;
  align-items: center;
}

aside .utilizer .avatar img{
  width: 100%;
  border-radius: 50%;
  margin-right: 10px;
}

aside .utilizer .icons i{
  color: var(--gray);
  margin: 0 10px;
  font-size: 1.1rem;
}

/* ------------------NAV BAR------------------- */

aside nav{
  width: 100%;
  height: 120px;
  /* debug */
  background-color: lightblue;
}

/* ------------------CHAT AVVIATE------------------- */

aside .chats-made{
  width: 100%;
  height: calc(100% - (var(--height-user) + 120px));
  overflow-y: scroll;
  /* debug */
  background-color: salmon;
  border: 1px solid black;
}

/* ------------------MAIN------------------- */

main{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 65%;
  /* debug */
  background-color: aqua;
}

main > *{
  width: 100%;
}

main header{
  flex-shrink: 0;
  height: var(--height-user);
  /* debug */
  background-color: lightgray;
  border: 1px solid black;
}

main .content{
  /* width: 100%; */
  height: 100%;
  overflow-y: scroll;
}

main footer{
  flex-shrink: 0;
  height: var(--height-user);
  /* debug */
  background-color: lightgray;
  border: 1px solid black;
}