/* ------------------ASIDE------------------- */

aside{
  height: 100%;
  width: 35%;
}

/* ------------------UTILIZER------------------- */

aside .utilizer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--height-user);
  background-color: var(--white);
  padding: 0 10px;
}

aside .utilizer .avatar{
  width: 40px;
  display: flex;
  align-items: center;
}

aside .utilizer .avatar img{
  width: 100%;
  border-radius: 50%;
  margin-right: 10px;
}

aside .utilizer .icons i{
  color: var(--gray);
  margin: 0 10px;
  font-size: 1.1rem;
}

/* ------------------NAV BAR------------------- */

aside nav{
  width: 100%;
  height: 120px;
  background-color: var(--white);
  border-bottom: 1px solid var(--light-gray);
}

aside nav .notifications{
  display: flex;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 60%;
  background-color: var(--heavenly);
}

aside nav .notifications i{
  background-color: white;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  padding: 12px;
  color: var(--heavenly);
  margin-right: 10px;
}

aside nav .notifications .status{
  display: flex;
  flex-direction: column;
  font-size: .8rem;
}

aside nav .notifications .status span:last-child{
  color: gray;
  text-decoration: underline;
  font-size: .7rem;
  margin-top: 5px;
}

aside nav .search-bar{
  display: flex;
  align-items: center;
  width: 100%;
  height: 40%;
  color: gray;
  padding: 0 15px;
}

aside nav .search-bar i{
  margin-right: 15px;
  padding: 7px 20px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: white;
}

aside nav .search-bar input{
  width: 100%;
  padding: 7px 5px;
  border: 1px solid gray;
  border-radius: 5px;
}

/*FIXME:non funziona il colore del bordo al focus*/
aside nav .search-bar input:focus{
  border: 1px solid var(--heavenly);
}

/* ------------------CHAT AVVIATE------------------- */

aside .chats-made{
  width: 100%;
  height: calc(100% - (var(--height-user) + 120px));
  overflow-y: scroll;
  background-color: var(--white);
}

aside .chats-made ul{
  list-style: none;
}

aside .chats-made ul li{
  width: 100%;
  display: flex;
  height: 100%;
  width: 100%;
  padding: 10px 15px;
  background-color: var(--white);
  border-bottom: 1px solid var(--light-gray);
}

aside .chats-made ul li.active{
  background-color: #d8d8d8;
}

aside .chats-made ul li:hover{
  background-color: #fafafa;
}

aside .chats-made ul li .image{
  height: 50px;
  margin-right: 15px;
}

aside .chats-made ul li .image img{
  height: 100%;
  border-radius: 50%;
}

aside .chats-made ul li .user{
  display: flex;
  flex-direction: column;
  width: 100%;
}

aside .chats-made ul li .user .items{
  display: flex;
  justify-content: space-between;
}

/* TODO: trovare una soluzione per non far scomparire l'orario quando si rimpicciolisce la pagina */

/* debug */
/* aside .chats-made ul li .user .items span#name{
  background-color: green;
  flex-shrink: 0;
  flex: 0 0 auto;
  max-width: 100px;
} */
  /* debug */

aside .chats-made ul li .user .items span#hours{
  text-align: end;
  font-size: .55rem;
  color: gray;
  /* debug */
  /* flex: 0 1 100px;
  min-width: 100px;
  background-color: yellowgreen; */
}

aside .chats-made ul li .user span#last-msg{
  color: gray;
  font-size: .7rem;
  margin-top: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow : ellipsis;
  display: block;
  /* FIXME: perché devo dare una larghezza precisa per l'overflow? */
  width: 250px;
  /* width: 90%; */
}