* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 100vh;
  width: 100vw;
}

/* TODO: dividere il file CSS in 2: aside e main */

:root {
  --green: #009688;
  --light-gray: #a3a3a3; /* sfondo esterno */
  --gray: #b1b1b1; /* testo icone */
  --white: #ebebeb; /* sfondo generale*/
  --height-user: 60px;
  --heavenly: #8edafc; /* sfondo notifiche*/
}

i{
  cursor: pointer;
}

#app {
  height: 100%;
  width: 100%;
}

.main-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(var(--green) 15%, var(--light-gray) 15%);
}

.container{
  display: flex;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  height: 95%;
  box-shadow: 2px 2px 15px var(--gray);
}